<!DOCTYPE html >
<html lang="en" ng-app="inputModule">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600" rel="stylesheet" type="text/css">
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css">
    <link type="text/css" rel="stylesheet" href="style.css">
    <title>Budgety</title>
</head>

<body ng-controller="inputController">

    <div class="top">
        <div class="budget">
            <div class="budget__title">
                Available Budget in <span class="budget__title--month">{{date | date:'MMMM'}}</span>:
            </div>

            <div class="budget__value">{{monthlyBudget |currency:"€":0}}</div>

            <div class="budget__income clearfix">
                <div class="budget__income--text">Income</div>
                <div class="right">
                    <div class="budget__income--value"> {{totalIncome | currency:"€"}}</div>
                    <div class="budget__income--percentage">&nbsp;</div>
                </div>
            </div>

            <div class="budget__expenses clearfix">
                <div class="budget__expenses--text">Expense</div>
                <div class="right clearfix">
                    <div class="budget__expenses--value"> {{totalExpense | currency:"€"}}</div>
                    <div class="budget__expenses--percentage">{{expensePercentage | number: 0 }}%</div>
                </div>
            </div>
        </div>
    </div>



    <div class="bottom">
        <div class="add">
            <div class="add__container">
                <select class="add__type" ng-model="type">
                    <option value="inc" selected>+</option>
                    <option value="exp">-</option>
                </select>
                <input type="text" class="add__description" placeholder="Add description" ng-model="description"
                    ng-keyup="displayDescription();">
                <input type="number" class="add__value" placeholder="Value" ng-model="value">
                <button class="add__btn" ng-click="moneyChangingHands(); addListItem(); addTotal();"><i class="ion-ios-checkmark-outline"></i></button>
            </div>
        </div>

        <div class="container clearfix">
            <div class="income">
                <h2 class="icome__title">Income</h2>
                <div class="income__list">
                    <ul style="list-style-type: none;" ng-repeat="income in allIncome">
                        <li>
                            <div class="item clearfix" id="income-{{income.id}}">
                                <div class="item__description">{{income.description}}</div>
                                <div class="right clearfix">
                                    <div class="item__value">{{income.value}}</div>
                                    <div class="item__delete">
                                        <button class="item__delete--btn" ng-click="deleteMoney(income)"><i class="ion-ios-close-outline"></i></button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="expenses">
                <h2 class="expenses__title">Expenses</h2>
                <div class="expenses__list">
                    <ul style="list-style-type: none;" ng-repeat="expense in allExpenses">
                        <li>
                            <div class="item clearfix" id="expense-{{expense.id}}">
                                <div class="item__description">{{expense.description}}</div>
                                <div class="right clearfix">
                                    <div class="item__value">{{expense.value}}</div>
                                    <div class="item__percentage">{{expensePerc(expense)}}</div>
                                    <div class="item__delete">
                                        <button class="item__delete--btn" ng-click="deleteMoney(expense)"><i class="ion-ios-close-outline"></i></button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    </div>
    <script src="angular.js"></script>
    <script src="inputModule.js"></script>

</body>

</html>